.OrderNumber {
  background-color: #f1ffe698;
  /* Light yellow background matching McDonald's theme */
  border: 2px solid #9dff2c;

  /* Border color matching McDonald's logo */
  border-radius: 8px;
  /* Rounded corners */
  padding: 20px;
  /* Spacing inside the container */
  max-width: 400px;
  /* Maximum width for the container */
  margin: 40px auto;
  /* Center the container */
  text-align: center;
  /* Center align text */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Subtle shadow for depth */

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.OrderNumber h1 {
  font-size: 28px;
  /* Size of the heading */
  font-weight: bold;
  /* Bold text */
  color: #aad32f;
  /* Red color for the heading */
  margin-bottom: 10px;
  /* Space below the heading */
}

.OrderNumber p {
  font-size: 16px;
  /* Size of the paragraph text */
  color: #333;
  /* Dark gray color for the paragraph */
}
